spring:
  datasource:
    url: jdbc:h2:mem:todo;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: ${PORT:8080}

logging:
  level:
    org.hibernate.SQL: debug
